.json-tabs .json-editor-error {
  color: red;
}

.json-tabs .json-editor h1,
.json-tabs .json-editor h2,
.json-tabs .json-editor h3,
.json-tabs .json-editor h4,
.json-tabs .json-editor h5,
.json-tabs .json-editor h6 {
    clear: none;
}

.json-tabs .json-editor {
  overflow-x: auto;
}

.json-tabs .json-editor td input {
  border: 0px;
}

.json-tabs .json-editor .form-control label {
  display: inline !important;
  margin-right: 20px;
}

.json-tabs .json-editor .form-control label+input,
.json-tabs .json-editor .form-control label+textarea,
.json-tabs .json-editor .form-control label+select {
  /* position: absolute; */
  /* left: 250px; */
  width: 500px;
}
